# Copy this file to .env and fill in your values
# .env is gitignored and should never be committed

# App secrets
ORDER_APP_SECRET=
PRODUCT_APP_SECRET=

# Order DB
ORDER_DB_NAME=order_db
ORDER_DB_USER=
ORDER_DB_PASSWORD=
ORDER_DB_ROOT_PASSWORD=

# Product DB
PRODUCT_DB_NAME=product_db
PRODUCT_DB_USER=
PRODUCT_DB_PASSWORD=
PRODUCT_DB_ROOT_PASSWORD=

# RabbitMQ
RABBITMQ_USER=
RABBITMQ_PASS=
